# Don't track content of these folders
__pycache__/
*/__pycache__/

# Don't track content of all files in these folders
decryptedFile/*.txt
encryptedFile/*.txt
settings/*.txt

# exception to the rule
# !decryptedFile/.gitkeep
# !encryptedFile/.gitkeep
# !settings/.gitkeep